code
{
  background-color: #f8f8f8;
  font-family: "Courier New";
  font-weight: normal;
  color: #333;
}

p,li
{
  code
  {
    font-size: 0.85em;
    padding: 0.1em;
    font-weight: normal;
  }
}

pre code 
{
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}
 
.highlight pre 
{
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 1em;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
 
pre 
{
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 1em;
  line-height: 1em;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
  margin: 15px 0;

  @media screen and (max-width: 767px) 
  {
    margin-left: $dt_default_left_margin_small;
  }
}

pre code, pre tt 
{
  background-color: transparent;
  border: none;
  color: #333;
  font-size: ms(0); 
}

