footer
{
	font-family: $header-font-family;
	text-transform: uppercase;
	color: #707070;
	width: 100%;
	margin: 0;
	padding: 0;
	padding-bottom: 0;
	background-color: #EFEFEF;

	@media screen and (max-width: 767px) {
		padding-bottom: 10px;
	}

	.logo
	{
		height: 40px;
		width: 40px;
		margin-top: -4px;
		/*margin-top: 14px;*/

		@media screen and (max-width: 767px) {
			margin-top: 0px;
			height: 40px;
		}

	}

	div div
	{
		height: $header_height * .65;
		margin-top: 28px;
		line-height: 1.3;
		/*line-height: $header_height * .75;*/
		font-size: 13px;

		@media screen and (max-width: 767px) {
			height: auto;
			line-height: 20px;
			margin-top: 15px;
		}
	}

	a 
	{
		color: #707070;
		text-decoration: underline;

		&:hover
		{
			color: #4C4C4C;
		}
	}
}